footer {
    background: #273d0e;
    color: #f0f0f0;
    font-weight: 300;
    padding: $global-margin/2 $global-margin;

    a {
        color: #f0f0f0;
        font-weight: 400;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}
