header {
    .world-museum-return {
        background: #222;
        padding: 0.2rem 0;
        font-size: 9pt;

        .cell {
            padding-left: rem-calc(50);

            @include breakpoint(medium) {
                padding-left: rem-calc(150);
            }
        }

        a:link, a:visited, a:hover {
            color: #d6d6d6;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        @include breakpoint(medium) {
            font-size: 11pt;
        }
    }
    .main-banner {
        background: linear-gradient(to bottom, #639b25, #49721b);
        height: rem-calc(50);

        @include breakpoint(medium) {
            height: rem-calc(100);
        }

        div {
            height: 100%;
        }

        .cell:first-of-type {
            width: rem-calc(100);

            @include breakpoint(medium) {
                width: rem-calc(150);
            }
        }

        .nml-logo {
            img {
                position: relative;
                height: 200%;
                top: -120%;

                @include breakpoint(medium) {
                    height: 110%;
                    top: rem-calc(-30);
                }
            }
        }

        .wml-logo {
            background-image: url('https://www.liverpoolmuseums.org.uk/images/site-wide/venues/logos/wml.png');
            background-repeat: no-repeat;
            background-position: 0 -201px;
            display: inline-block;
            width: 150px;
            height: 100%;
            background-size: 210px 300px;

            @include breakpoint(medium) {
                background-position: 0 -90px;
            }
        }

        .explore-logo {
            display: inline-block;
            color: #fff;
            font-size: rem-calc(15);
            padding-top: 1rem;

            @include breakpoint(medium) {
                font-size: rem-calc(18);
                padding-top: 2rem;
            }
        }

        .halle-logo {
            display: inline-block;
            height: 100%;
            box-sizing: border-box;
            padding: 0.5rem;
            background: #fff;

            img {
                height: 100%;
            }
        }

        .label.warning {
            position: relative;
            top: rem-calc(-15);
        }
    }

    #breadcrumbs {
        background: #f0f0f0;
        border-top: 2px solid #273d0e;
        margin: 0;
        padding: $global-margin/2 0 $global-margin/2 0;

        @include breakpoint(medium) {
            border-top: 3px solid #273d0e;
        }

        ul.breadcrumbs {
            font-weight: 900;
            overflow: auto;
            white-space: nowrap;

            li {
                line-height: 1;
            }

            li::after {
                vertical-align: bottom;
            }

            a, .ellipsis {
                vertical-align: bottom;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: rem-calc(250);

                &:hover {
                    max-width: rem-calc(500);
                }
            }
        }
    }
}
