#infoblock {
    padding: $global-margin 0 $global-margin $global-margin;

    h2 {
        font-size: rem-calc(16);
        font-weight: 900;
    }

    .accordion-title {
        font-weight: 900;
    }

    .accordion-content {
        font-weight: 300;
    }
}
