#overview {
    padding: rem-calc(10);

    .floor {
        margin-bottom: $global-margin;

        h3 {
            font-size: rem-calc(14);
            font-weight: 900;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .room-container {
        position: relative;

        a {
            position: absolute;
            box-sizing: border-box;
            border: 1px solid #222;
            background: #f0f0f0;

            &.is-active {
                box-shadow: 0 0 5px $primary-color;
                border: 1px solid $primary-color;
            }

            &:hover {
                box-shadow: 0 0 5px #222;
                z-index: 10;

                &::after {
                    content: attr(data-title);
                    font-weight: 300;
                    font-size: rem-calc(14);
                    display: block;
                    position: absolute;
                    top: calc(100% + 1px);
                    width: 100%;
                    min-width: rem-calc(100);
                    z-index: 2;
                    background: #fff;
                    color: #222;
                    padding: 0.2rem 0.3rem;
                    box-shadow: 0 0 2px #222;
                }
            }
            &.left:hover::after {
                left: 0;
            }
            &.right:hover::after {
                right: 0;
            }

            .title {
                font-weight: 300;
                font-size: rem-calc(14);
                color: #222;
                position: absolute;
                top: rem-calc(10);
                left: rem-calc(10);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: calc(100% - 20px);
            }

            .image-samples {
                display: block;
                padding: rem-calc(40) 0 0 rem-calc(10);
                box-sizing: border-box;
                max-height: 100%;
                max-width: 100%;
                overflow: hidden;

                .image-sample {
                    display: inline-block;
                    width: rem-calc(50);
                    height: rem-calc(50);
                    overflow: hidden;
                    margin-right: rem-calc(10);
                    margin-bottom: rem-calc(10);

                    img {
                        min-height: 100%;
                        min-width: 100%;
                    }
                }
            }
        }
    }
}
