#overview {
    padding-top: rem-calc(50);

    .outline {
        border: 1px solid #222;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    a.outline {
        .title {
            font-weight: 300;
            font-size: rem-calc(14);
            color: #222;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 95%;
        }

        &:hover, &.is-active {
            box-shadow: 0 0 5px #222;
            z-index: 10;
        }

        &:hover::after {
            content: attr(data-title);
            font-weight: 300;
            font-size: rem-calc(14);
            display: block;
            position: absolute;
            left: 0;
            top: calc(100% + 1px);
            width: 100%;
            min-width: rem-calc(100);
            z-index: 2;
            background: #fff;
            padding: 0.2rem 0.3rem;
            box-shadow: 0 0 2px #222;
        }
    }

    .floor {
        position: relative;
        height: rem-calc(250);
        box-sizing: border-box;
        margin: 0 $global-margin rem-calc(70) $global-margin;

        > a {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transform: translate(0, -100%);
            box-sizing: border-box;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 900;
            padding: $global-margin $global-margin $global-margin / 3 $global-margin;
        }

        &:last-child {
            margin-bottom: rem-calc(100);
        }

        .area {
            position: absolute;

            &.horizontal {
                height: 100%;
            }
            &.vertical {
                width: 100%;
            }
            &.theme {
                background: #f0f0f0;
            }
            &.room {
                background: #f0f0f0;
            }
        }
    }
}
