#overview {
    padding: rem-calc(10);
    font-size: rem-calc(14);

    .floor {
        margin-bottom: $global-margin;

        &:last-of-type {
            margin-bottom: rem-calc(100);
        }

        h3 {
            font-size: rem-calc(14);
            font-weight: 900;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    a {
        color: #626262;

        &.is-hovering, &:hover, &:focus {
            text-decoration: underline;
        }

        &.is-active {
            color: get-color('primary');
            font-weight: bold;
        }
    }

    .menu li a {
        padding: $global-margin / 4 0;
    }

    .room-container {
        position: relative;

        a {
            position: absolute;
            box-sizing: border-box;
            border: 1px solid #222;
            background: #f0f0f0;

            &.is-active {
                box-shadow: 0 0 5px $primary-color;
                border: 1px solid $primary-color;
            }
            &.is-hovering, &:hover, &:focus {
                box-shadow: 0 0 5px #626262;
                border: 1px solid #626262;
            }
        }
    }
}
