@import 'foundation_init';

@include foundation-everything;

.justify-items-center {
    justify-content: center;
}

.cell.max-height {
    max-height: 100%;
}

.always-scroll {
    overflow: scroll;
}

.accordion-title::before {
    content: '\25bc';
    font-family: sans-serif;
    font-weight: 400;
    font-size: rem-calc(12);
}
.is-active > .accordion-title::before {
    content: '\25b2';
}

header {
    .world-museum-return {
        background: #222;
        padding: 0.2rem 0;

        .cell {
            padding-left: rem-calc(150);
        }

        a:link, a:visited, a:hover {
            color: #d6d6d6;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .main-banner {
        background: linear-gradient(to bottom, #639b25, #49721b);
        height: rem-calc(100);

        div {
            height: 100%;
        }

        .cell:first-of-type {
            width: rem-calc(150);
        }

        .nml-logo {
            img {
                height: 110%;
                position: relative;
                top: rem-calc(-30);
            }
        }

        .wml-logo {
            background-image: url('http://www.liverpoolmuseums.org.uk/images/site-wide/venues/logos/wml.png');
            background-repeat: no-repeat;
            background-position: 0 -210px;
            display: inline-block;
            width: 300px;
            height: 100%;
        }

        .explore-logo {
            display: inline-block;
            color: #fff;
            font-size: 18pt;
            padding-top: 2rem;
        }

        .halle-logo {
            display: inline-block;
            height: 100%;
            box-sizing: border-box;
            padding: 0.5rem;
            background: #fff;
        }

        .label.warning {
            position: relative;
            top: rem-calc(-15);
        }
    }

    #breadcrumbs {
        background: #f0f0f0;
        border-top: 3px solid #273d0e;
        margin: 0;
        padding: $global-margin / 2 0;

        ul.breadcrumbs {
            font-weight: 900;
        }
    }
}

#gallery {
    @include xy-grid('horizontal', true);
    justify-content: space-between;
    margin: 0 rem-calc(15) rem-calc(15) rem-calc(20);
    position: relative;

    li.title {
        list-style-type: none;
        border-bottom: 2px solid #222;
        width: 100%;

        h1 {
            font-size: rem-calc(24);
        }
    }

    li.item {
        @include xy-cell('shrink', true, 10);

        list-style-type: none;
        margin-top: rem-calc(20);

        a {
            display: block;
            box-sizing: border-box;
            max-width: 300px;
            height: 168px;
            line-height: 168px;
            position: relative;

            &:hover span.title {
                opacity: 0.8;
            }
        }

        &.selected span.title {
            opacity: 0.8;
        }

        img {
            max-height: 160px;
            max-width: 300px;
            display: inline;
            vertical-align: middle;
        }

        span.title {
            color: #ddd;
            background: #222;
            z-index: 1;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 80%;
            padding: 0 rem-calc(5);
            height: rem-calc(25);
            line-height: rem-calc(25);
            opacity: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    li.details {
        width: 100%;
        margin-top: 0;
        list-style-type: none;
        position: relative;

        .close {
            position: absolute;
            top: rem-calc(20);
            right: rem-calc(20);

            a {
                font-size: rem-calc(25);
                color: #888;
            }
        }

        .marker::before {
            @include css-triangle(rem-calc(10), #222, 'up');
        }

        .content {
            height: calc(50vh);
            background: #222;
            color: #d6d6d6;
            padding: rem-calc(30);
            align-items: center;

            h2 {
                font-size: rem-calc(24);
            }

            .description, .note {
                font-size: rem-calc(17);
                font-weight: 300;
                color: #d6d6d6;
            }

            .metadata {
                color: #d6d6d6;
                margin-top: rem-calc(50);

                h3 {
                    color: #aaaaaa;
                    font-size: rem-calc(15);
                    font-variant: small-caps;
                }

                p {
                    font-size: rem-calc(16);
                    font-weight: 300;
                }

                div {
                    padding-right: $global-padding;
                }
            }

            img {
                max-height: 100%;
                vertical-align: middle;
            }
        }
    }
}

#infoblock {
    padding: $global-margin;

    h2 {
        font-size: rem-calc(16);
        font-weight: 900;
    }

    .accordion-title {
        font-weight: 900;
    }

    .accordion-content {
        font-weight: 300;
    }
}

#overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;

    .background {
        width: 100%;
        height: 100%;
        background: #222;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &.is-active .background {
        opacity: 0.6;
    }

    .spinner {
        width: 100%;
        height: 100%;
        position: relative;

        img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
